.venv
.env

data/
.cache
.__pycache__
.DS_Store
*tmp*
.python-version

uv.lock

# VS Code & IDE
.vscode/
.idea/
*.code-workspace

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Notebooks
*.ipynb_checkpoints

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Test artifacts
.coverage
htmlcov/
.tox/

# Local dev
.local/
.envrc

# Yarn & Node
node_modules/
yarn.lock
package-lock.json

 __pycache__/

